@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#FindToolbar[hidden=true] {
	display: -moz-box !important;
}

.findbar-find-previous { 
	
	background: #0d0b0d !important;
}
.findbar-find-next { 
	
	background: #0d0b0d !important;
}
.findbar-container > * {
	
	-moz-appearance: none !important;
	border: 0
}

.findbar-closebutton, .findbar-find-next.tabbable,
.findbar-find-previous.tabbable, .findbar-highlight.tabbable  {
	display: none !important;
}

.findbar-case-sensitive {
	display: none !important;
}

#content browser {
	marigin-right: -14px !important;
	overflow-x: 2px !important;
	overflow-y: hidden !important;
}

#appcontent,
#appcontent > #content,
#appcontent > #content > tabbox > tabpanels {
	background: #0d0b0d !important;
}

#main-window[stylish-url="about:blank"]:not([onclose^="PrintUtils"]):not([title^="Source Chart"]):not([chromehidden="menubar toolbar directories extrachrome "]) #content browser:not([src]) {
	opacity: 0 !important;
}

a:link {
	color: #ffaf5f;
}
a:link {
	background-color: #ffaf5f !important;
}
a:visited {
	background-color: #d75f5f !important;
}

a:active {
	background-color: #ffaf5f !important;
}


.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down,
toolbarbutton#appmenu-toolbar-button,
toolbarbutton#alltabs-button,
toolbarbutton#new-tab-button,
.tab-icon-image,
.tabs-closebutton-box,
.tabs-border-bottom,
.tab-close-button {
	display: none !important;
}


tabs#tabbrowser-tabs, tabs#tabbrowser-tabs * {
	-moz-appearance: none !important;
	border-radius: 1px !important;
	border: 1px !important;
	border-bottom: 0px none !important;
	background-image: none !important;
	background-color: #0d0b0d !important
	margin-top: 0px !important;
	max-height: 20px !important;
	min-height: 20px !important;        
}

tabs#tabbrowser-tabs {
	background-color: #0d0b0d !important;
	padding-top: 0px !important;
	margin-left: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border-bottom: 1px none !important;
	text-align: center !important;
	/*box-shadow: inset 0px -4px 2px rgba(0,0,0,0.1) !important;*/
}

.tabbrowser-tab[selected=true] {
	color: #f3e7c6 !important;
	max-height: 12px !important;
	margin-left: 0px !important;
	padding-top: 2px !important;
	border-bottom: 0px !important;
	background-color: #143A58 !important;
	/*box-shadow: inset 0px -4px 2px rgba(0,0,0,0.1) !important;*/
	box-shadow: none !important;

}

.tabbrowser-tab {
	color: #f3e7c6 !important;
	background-color: #0d0b0d !important;
	border-bottom: 1px !important;
	box-shadow: none !important;
}

.tabbrowser-tab .tab-text {
	margin-left: 3px !important;
	margin-right: 3px !important;
	margin-top: 2px !important;
	font-size: 12px !important;
	font-family: termsyn !important;
}

#urlbar dropmarker,
#identity-box,
#star-button,
#go-button,
.tab-throbber,
.tabs-newtab-button,
.tab-throbber[progress] {
	display: none !important;
}

.titlebar-placeholder[type="caption-buttons"] {
	margin-left: 10px !important;
}

.tabbrowser-tabs:not([drag=detach]) > .tabbrowser-tab:not([pinned])[fadein] {
	min-width: 30px !important;
	max-width: 130px !important;
}

notificationbox {
	overflow-x: hidden;
}

/* hide vertical scrollbar */
notificationbox {
	overflow-x: hidden;
}

/*browser[type="content-primary"], browser[type="content-targetable"] {
overflow-y: scroll;
margin-right: 0px; /* 12px == width of my scrollbar */
    

    browser[type="content-primary"], browser[type="content-targetable"] {
	    overflow-y: scroll;
	    margin-right: 0px;
    }


/*.searchbar-engine-image {
	display: none !important;
}
.search-go-button {
	display: none !important;
}
.searchbar- */


#nav-bar {
	background-image: none !important;
	background-color: #080808 !important;
	border: none !important;
	margin-bottom: 0 !important;
	padding: 0 !important;
}
#url-bar {
	background: none !important;
	border: none !important;
	border-radius: 1px 0 0 0 !important;
	margin: 0 !important;
	box-shadow: none !important;
	color: #080808 !important;
}
#statusbar-display { display: none !important; }

/*4chan Dark Candy -- New 4chan HTML Style*/


