
a { 
	color: #486569 !important;
}
a:visited {
	color: #753b39 !important;
}



/*4chan Dark Candy -- New 4chan HTML Style*/

@-namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("google.de") {
	html {
		background-color: #0d0b0d !important;
	}
	body {
		background-color: #0d0b0d !important;
		color:  #f3e7c6 !important ;
		font: 11px gohufont !important;
	}
	
	form {
		background-color: #0d0b0d !important;
		color: #f3e7c6 !important;
	}
	div#hdtb_msb {
		background-color: #0d0b0d !important;
		color: #f3e6c7 !important;
	}
	div#topbar {
		background-color: #0d0b0d !important;
		color: #f3e6c7 !important;
	}
	div.fbar {
		color: #f3e6c7 !important;
		background-color: #0d0b0d !important;
	}
}

@-moz-document domain("forums.saveosx.org") {

	html {
		font-family: gohufont !important;
		font-size: 11px !important;
	}
	
	body {
		background: #111111 !important;
		font-family: gohufont !important;
		font-size: 11px !important;
	}

	td.trow1 {
		background-color: #222222 !important;
		color: #f3e7c6 !important;
		font-family: gohufont !important;
		font-size: 11px !important;
	}

	td.trow2 {
		background-color: #0d0b0d !important;
		color: #f3e7c6 !important;
		font-family: gohufont !important;
		font-size: 11px !important;
	}

	td.tcat {
		background-color: #000000 !important;
		font-family: gohufont !important;
		font-size: 11px !important;
	}

	div#infobar {
		background-color: #000000 !important;
		font-family: gohufont !important;
		font-size: 11px !important;
	}

	span.smalltext {
		color: #52633e !important;
	}
}

@-moz-document domain("dotshare.it") {
	html {
		background-color: #0d0b0d !important;
		font-family: gohufont !important;
		font-size: 11px !important;
	}
	a {
		font-family: gohufont !important;
		font-size: 11px !important;
	}
	span {
		font-family: gohufont !important;
		font-size: 11px !important;
	}
	li {
		font-family: gohufont !important;
		font-size: 11px !important;
	}
	td {
		font-family: gohufont !important;
		font-size: 11px !important;
	}
}


@-moz-document domain("reddit.com") {
	html {
		background-color: #0d0b0d !important;
		color: #f3e7c6 !important;
	}
	body {
		background-color: #0d0b0d !important;
		color: #f3e7c6 !important;
	}
	div.side {
		background-color: #0d0b0d !important;
	}
	div#header-bottom-left {
		background-color: #0d0b0d !important;
	}
	div#header-bottom-right {
		background-color: #0d0b0d !important;
		font-weight: normal !important;
	}
	div.sr-list {
		background-color: #0d0b0d !important;
		font-weight: normal !important;
	}
	div.linkinfo {
		background-color: #0d0b0d !important;
	}
	span.upvotes {
		color: #52633e !important;
	}
	span.downvotes {
		color_ #753b39 !important;
	}
}

@-moz-document domain("twitter.com") {
	
	hmtl {
		background-color: #555555 !important;
		color: #f3e7c6 !important;
	}
	body {
		background: #555555 !important;
		color: #f3e7c6 !important;
	}
	
	ol#stream-items-id.stream-items.js-navigable-stream {
		background-color: #0d0b0d !important;
		color: #f3e7c6 !important;
	}
	div.stream.home-stream {
		background-color: #0d0b0d !important;
		color: #f3e7c6 !important;
	}
	div.tweet.original-tweet.js-stream-tweet.js-profile-popup-actionable.js-original-tweet {
		background: #0d0b0d !important;
		font: gohufont !important;
		font-size: 11px;
	}

	div.flex-module {
		background: #0d0b0d !important;
		color: #f3d7c6 !important;
		font: gohufont !important;
		font-size: 11px !important;
	}

	div.flex-module.trends-container {
		background: #0d0b0d !important;
		color: #f3e7c6 !important;
	}

	div.home-tweet-box.tweet-box-component.tweet-user {
		background: #0d0b0d !important;
		color: #f3e7c6 !important;
		font-size: 11px !important;
	}

	ul {
		background: #0d0b0d !important;
	}
	
	strong {
		color: #486569 !important;
		font: gohufont !important;
		font-size: 11px !important;
	}
	
	b {
		color: #753b39 !important;
	}
	
	a  {
		color: #753b39 !important;
	}
}









@-moz-document domain("4chan.org") {
    html {
        background: #0d0b0d !important;
    }
    body {
        background-color: #0d0b0d !important;
        color: #f3e7c6 !important;
        font: 11px gohufont !important;
        margin: 0px auto !important;
        padding: 0;
    }
    form {
        background: #0d0b0d;
        border-left: 0px;
        border-right: 0px;
        margin: 0px auto !important;
        max-width: 900px !important;
        padding: 25px 5px 5px 5px;
        width: 85% !important;
    }
    tbody td {
        background: #0d0b0d !important;
        color: #ffffff !important;
        border: 0px solid #777777 !important;
    }
    div.thread {
        background: #0d0b0d !important;
        margin-bottom: 20px !important;
        margin-top: 10px !important;
    }
    div.post.reply {
        background: #111111 !important;
        border: 0px !important;
    }
    div.globalMessage {
        visibility: hidden !important;
        height: 0px !important; 
        margin: 0px !important;
        position: absolute !important;
    }
    div.pagelist {
        background: #101010 !important;
        color: #f3e7c6 !important;
        border-left: 0px;
        border-right: 0px;
        margin: 0px auto !important;
        border: 0px !important;

    }
    div#content {
	    background: #0d0b0d !important;
	    color: #f3e7c6 !important;
    }
    a {
        color: #52633e !important;
        text-decoration: none !important;
    }
    
    a:hover {
        color: #f3e7c6 !important;
    }
    hr {
        visibility: hidden !important;
        position: absolute !important;
    }
    #absbot {
        visibility: hidden !important;
        position: absolute !important;
    }
    #boardNavDesktopFoot {
        visibility: hidden !important;
        height: 0px !important;
        position: absolute !important;
    }
    #boardNavDesktop {
        visibility: hidden !important;
        height: 0px !important;
        position: absolute !important;
    }
    div.deleteform {
        visibility: hidden !important;
        height: 0px !important;
        position: absolute !important;
    }
    div.stylechanger {
        visibility: hidden !important;
        position: absolute !important;
    }
    div.boardBanner {
        visibility: hidden !important;
        position: absolute !important;
    }
    strong {
        color: #ff0000 !important;
    }
    div.postContainer {
        background: #222222 !important; 
        border-top: 5px solid #101010 !important;
    }
    .opContainer {
        background: #222222 !important;
    }
    .postingMode {
        background: #101010 !important;
    }
    .sideArrows {
        visibility: hidden !important;
        position: absolute !important;
    }
    .abbr {
        color: #ffffff !important;
    }
    .fileThumb {
        margin: 45px !important;
    }
    .post.op {
        color: #f3e7c6 !important;
    }

    .name {
        color: #753b39 !important;
    }
    .postertrip {
        color: #503b66 !important;
    }
    .subject {
        color: #29635b !important;
    }
    .quote {
        color: #486569 !important;
    }

    .postInfo a {
        color: #8888ff !important;
    }
    .postInfo a:hover {
        color: #ffffff !important;
    }

    input, input[type="submit"], input[type="button"], select, button, textarea {
        background: #000 !important;
        border: 1px #333 solid !important;
        color: #aaa !important;
    }
    input[type="checkbox"] {
        background: rgba(0,0,0,.4) !important;
        border: 1px solid rgba(255,255,255,.3) !important;
        border-radius: 2px !important;
        height: 10px !important;
        width: 10px !important;
    }
    input[type="checkbox"]:checked {
        background: rgba(255,255,255,.4) !important;
    }
    img#recaptcha_reload {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAASCAYAAACuLnWgAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNtCDrVoAAAB7SURBVEhL7ZVRCsAgDEN7Gu+8S/YKjgqTIromYvc1oZ/m2dJEEZHrg2qQklimz0NUtRKP2oMYgADFEBN7KwCIQWaj8Z0EXe1BRtEUyNjZD+nmROZ/dFwrsWMQxC+LFIhX2F8kXO6zkIMA7p4FLQ8hgvEBdkj2n2Jpn3tu6Fz0f4jGS50AAAAASUVORK5CYII=) !important;
        border: none !important;
        height: 0px !important;
        margin: 0 !important;
        padding-top: 18px !important;
        width: 25px !important;
    }
    img#recaptcha_switch_audio {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAPCAYAAAARZmTlAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNtCDrVoAAABnSURBVDhPY2BgYJhJBwy2RI2GGGQ+aZa8e/fuPy4H4ZAjzRKQITS1BGYBLkvwWI7fJ8gG47IEZjhNLEE3fOhaAkthFAcXclKlWcSj5weaJ2H04MGWIamSGckseuD5hNaFJKj4oi0AAJyWEl7bk9p7AAAAAElFTkSuQmCC) !important;
        border: none !important;
        height: 0px !important;
        margin: 0 !important;
        padding-top: 15px !important;
        width: 25px !important;
    }
    img#recaptcha_whatsthis {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAQCAYAAADj5tSrAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNtCDrVoAAAB6SURBVDhPzZRRCsAwCEM9ze68S3qFjQwKUlxNBpYV/Gg/fMZqzMzODfFAjsZAfh7i7lcMsjAeMgPGnQBxkKx6QVENmZNFBSRIg7wB8b5o2zcIEgpD8BNIVrWgAvtXKxm9Xg1AMcY8RPyH6CAahFi8zJ72QrqdGB7Ze27981EqthwdMwAAAABJRU5ErkJggg==) !important;
        border: none !important;
        height: 0px !important;
        margin: 0 !important;
        padding-top: 16px !important;
        width: 25px !important;
    }
    #recaptcha_logo, #recaptcha_tagline {
        display: none !important;
    }

    /* Code blocks */
    .prettyprint {
        color: #ffffff !important;
        background: #101010 !important;
        border: 1px solid #444444 !important;
    }
    .pln {
        color: #ffffff !important;
    }
    .kwd {
        color: #ff0000 !important;
    }
    .pun {
        color: #ffffff !important;
    }
    .lit {
        color: #ffaa00 !important;
    }
    .str {
        color: #ffff00 !important;
    }
    .typ {
        color: #00ffff !important;
    }
    .com {
        color: #ffaa00 !important;
    }
    .tag {
        color: #00ffff !important;
    }
    .atn {
        color: #ff0000 !important;
    }
    .atv {
        color: #ffff00 !important;
    }
}

